<section>
  <form name="form" ng-submit="register()">
    <fieldset>
      <legend>Sign up form</legend>

      <div class="form-group form-group-lg">
        <label>Email</label>
        <input class="form-control" name="email" type="text" ng-model="user.email">
      </div>

      <div class="form-group form-group-lg">
        <label>Password</label>
        <input class="form-control" name="password" type="password" ng-model="user.password">
      </div>

      <div class="actions">
        <label></label>
        <button>Sign up</button>
      </div>
    </fieldset>
  </form>
</section>
